<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap and Custom CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
  <title>{% block title %}FlaskRQ{% endblock %}</title>
</head>

{% include '_navbar.html' %}

<body>
  {% block content %}{% endblock %}
</body>

</html>
